System.config({
  meta: {
    './../bower/angular/angular': { format: 'global', exports: 'angular' },
    './../bower/angular-touch/angular-touch': { deps: ['angular'] },
    './../bower/angular-animate/angular-animate': { deps: ['angular'] },
    './../bower/angular-i18n/angular-locale_en-gb': { deps: ['angular'] },
    './../bower/angular-route/angular-route': { deps: ['angular'] },
  },
  map: {
    'angular': './../bower/angular/angular',
    'angular-mock': './../bower/angular-mocks/angular-mocks',
    'angular-touch': './../bower/angular-touch/angular-touch',
    'angular-animate': './../bower/angular-animate/angular-animate',
    'angular-i18n-en-gb': './../bower/angular-i18n/angular-locale_en-gb',
    'angular-router': './../bower/angular-router/angular-router'
  }
});
