node_modules
bower_components
.tmp
public/dist
public/dev
public/bower_components
.idea/scopes/
.idea/dictionaries/
.idea/inspectionProfiles/
.idea/libraries/
.idea/modules/
.idea/.name
.idea/*.xml
.idea/workspace.xml
.idea/uiDesigner.xml
!.idea/vcs.xml
!.idea/uiDesigner.xml
logs/
project/target
target
/target
/classes
/dist
/out
/SDK/*SDK
/*.bat
*.class
out
build
.DS_Store
*~
