<!doctype html>
<html lang="en">
    <head>
        <meta charset="utf-8">
        <title>Modern Web Template</title>
    </head>
    <body>

    <!-- Fixed navbar -->
    <nav class="navbar navbar-inverse navbar-static-top" role="navigation">
        <div class="container-fluid">
            <div class="navbar-header">
                <button type="button" class="navbar-toggle" data-toggle="collapse" data-target=".navbar-collapse">
                    <span class="sr-only">Toggle navigation</span>
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                </button>
                <a class="navbar-brand" href="#">Modern Web Template</a>
            </div>
        </div>
    </nav>

    <div class="container-fluid">

        <div class="row">
            <div class="col-sm-12">
                App content here
            </div>
        </div>

    </div>

    <footer>
        <hr/>
        <div>
            <span>&copy; YourProjectName.com 2015</span>
            </div>
        <div>
            <span app-version></span>
        </div>
    </footer>

    </body>

</html>