@(title: String)(content: Html)
<!DOCTYPE html>
<html class="no-js" ng-app="app">
<head>
  <base href="/app/">
  <title>@title</title>
  <meta name="viewport" content="width=device-width, initial-scale=1.0">

  <!-- build:css({public/dev,src}) /assets/app/vendor.css -->
  <link rel="stylesheet" href="/assets/app/vendor.css">
  <!-- bower:css -->
  <!-- endbower -->
  <!-- endbuild -->

  <!-- build:css({public/dev,src}) /assets/app/app.css -->
  <!-- inject:css -->
  <link rel="stylesheet" href="/assets/app/index.css">
  <!-- endinject -->
  <!-- endbuild -->

  <!-- HTML5 Shim and Respond.js IE8 support of HTML5 elements and media queries -->
  <!-- WARNING: Respond.js doesn't work if you view the page via file:// -->
  <!--[if lt IE 9]>
  <script src="https://oss.maxcdn.com/libs/html5shiv/3.7.0/html5shiv.js"></script>
  <script src="https://oss.maxcdn.com/libs/respond.js/1.4.2/respond.min.js"></script>
  <![endif]-->

</head>
<body class="container">
  <header class="navbar">
    <!-- Navigation -->
    <nav class="navbar navbar-inverse navbar-fixed-top" role="navigation">
      <div class="container">
        <!-- Brand and toggle get grouped for better mobile display -->
        <div class="navbar-header">
          <button type="button" class="navbar-toggle" data-toggle="collapse" data-target="#bs-example-navbar-collapse-1">
            <span class="sr-only">Toggle navigation</span>
            <span class="icon-bar"></span>
            <span class="icon-bar"></span>
            <span class="icon-bar"></span>
          </button>
          <a class="navbar-brand" href="/">Scala & Angular</a>
        </div>
        <!-- Collect the nav links, forms, and other content for toggling -->
        <div class="collapse navbar-collapse" id="bs-example-navbar-collapse-1">
          <ul class="nav navbar-nav">
            <li>
              <a href="/app/search">Search</a>
            </li>
            <li>
              <a href="/app/login">Login</a>
            </li>
            <li>
              <a target="_blank" href="http://www.ignat.email/">Contact</a>
            </li>
          </ul>
        </div>
        <!-- /.navbar-collapse -->
      </div>
      <!-- /.container -->
    </nav>
  </header>
  <div>
    @content
  </div>

  <!-- Google Analytics: change UA-XXXXX-X to be your site's ID. -->
  <script>
      (function(b,o,i,l,e,r){b.GoogleAnalyticsObject=l;b[l]||(b[l]=
      function(){(b[l].q=b[l].q||[]).push(arguments)});b[l].l=+new Date;
      e=o.createElement(i);r=o.getElementsByTagName(i)[0];
      e.src='//www.google-analytics.com/analytics.js';
      r.parentNode.insertBefore(e,r)}(window,document,'script','ga'));
      ga('create','UA-XXXXX-X');ga('send','pageview');
    </script>

  <!-- build:js(public) /assets/app/vendor.js -->
  <!-- bower:js -->
  <script src="/bower_components/jquery/dist/jquery.js"></script>
  <script src="/bower_components/angular/angular.js"></script>
  <script src="/bower_components/angular-animate/angular-animate.js"></script>
  <script src="/bower_components/angular-cookies/angular-cookies.js"></script>
  <script src="/bower_components/angular-touch/angular-touch.js"></script>
  <script src="/bower_components/angular-sanitize/angular-sanitize.js"></script>
  <script src="/bower_components/angular-resource/angular-resource.js"></script>
  <script src="/bower_components/angular-route/angular-route.js"></script>
  <script src="/bower_components/angular-bootstrap/ui-bootstrap-tpls.js"></script>
  <script src="/bower_components/traceur-runtime/traceur-runtime.js"></script>
  <script src="/bower_components/angular-md5/angular-md5.js"></script>
  <!-- endbower -->
  <!-- endbuild -->

  <!-- build:js(public/dev) /assets/app/app.js -->
  <!-- inject:js -->
  <script src="/assets/app/index.js"></script>
  <script src="/assets/components/services/auth.service.js"></script>
  <script src="/assets/app/auth/createaccount/createaccount.controller.js"></script>
  <script src="/assets/app/auth/resetpassword/resetpassword.controller.js"></script>
  <script src="/assets/app/auth/login/login.controller.js"></script>
  <script src="/assets/components/services/alert/alert.service.js"></script>
  <script src="/assets/components/services/auth/auth.service.js"></script>
  <!-- endinject -->

  <!-- inject:partials -->
  <script src="/assets/app/templateCacheHtml.js"></script>
  <!-- endinject -->
  <!-- endbuild -->
</body>
</html>
